.featuredCampaign {
  height: 60vh;
  width: 100%;
  position: relative;
  background-size: cover;

  color: white;

  padding: 3em 5em;
}

.featuredCampaign:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
}

.cardTitle {
  font-size: 3em;
  font-weight: 900;

  width: 40%;
  text-transform: uppercase;
}

.cardTitle a {
  color: inherit;
  text-decoration: none;
}

.cardBody {
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;
}

.campaignDescription {
  width: 40%;
  margin-top: 1em;
  font-size: 1.5em;
  overflow-x: auto;
  flex: 1;
}

.donationLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.donateButton {
  margin-top: auto;
  font-size: 2em;
  text-decoration: none;
  color: white;
  background: blueviolet;
  padding: 0.5em;
  border-radius: 20px;
  font-weight: 800;
  text-transform: uppercase;
}
