.mainPage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about {
  width: 40%;
  font-size: 2em;
  margin: auto;
  text-align: center;
  background: rgb(0, 0, 0, 0.6);
  color: white;
  padding: 1em;
}

.about a {
  display: flex;
  flex-direction: column;
  align-items: center;

  color: inherit;
  text-decoration: none;
}

.arrowDown {
  font-size: 0.5em;
  width: 1.5em;
  height: 1.5em;
  border-width: 0.05em 0.05em 0 0;
  border-style: solid;
  transform: scaleX(3) rotate(135deg);
  transition: transform 1s;
}

.arrowDown:hover {
  transform: scale(3.5, 1.5) rotate(135deg);
}

@keyframes jump {
  0% {
    top: 0;
  }
  50% {
    top: 0.5em;
  }
  100% {
    top: 0;
  }
}

.videoBackground {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(http://res.cloudinary.com/chiptus/video/upload/v1560884047/moshav-header.jpg) no-repeat;
  background-size: cover;
  filter: grayscale(1);
}

@media screen and (max-device-width: 800px) {
  .mainPage {
    background: url(http://res.cloudinary.com/chiptus/video/upload/v1560884047/moshav-header.jpg) #000 no-repeat center
      center fixed;
  }
  .videoBackground {
    display: none;
  }
}
