.app {
  --header-height: 3em;
  margin-top: var(--header-height);
}

.header {
  height: var(--header-height);
  padding: 1.5em 2em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-transform: uppercase;
  font-weight: 900;

  color: white;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  z-index: 200;
  width: 100%;
}

.title {
  font-size: 3em;
}

.headerButtons {
  margin-left: auto;
}

.headerButtons a {
  color: inherit;
  text-decoration: none;
  font-size: 1.5em;
}

.headerButtons * + * {
  margin-left: 1em;
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) and (max-width: 1920px) {
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
}

/* Big Screen */
@media only screen and (minwidth: 1921px) {
}
